body{
    width: 88%;
    float: right;
    
}
.hero-section{
    background-color:#edf7f6;
    padding-bottom: 50px;
   }
.line{
    width:16%;
    height:3px;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
      margin-bottom: 10px;
}
.hero-text{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
  line-height:1;
}
.hero-desc{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
  color: black;
}
.hero-list{
    font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.icon{
   width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hero-action{
    line-height:0;
}

.banner-cardwrapper{
    position:relative;
}
.banner-top-left{
    position: relative;
      min-height: 250px;
      background-color: rgb(255,255,255);
      z-index:1;
}

.section-banner{
     background-color:#edf7f6;
}
.banner-top-left:hover{
  background-color:rgb(0, 128, 128);
  color: white;
  height: auto;
}
.line:hover{
  background-color: white;
}
.orange-box{
    position: absolute;
    background-color: orange;
    z-index: 0;
    width: 15em;
    height:4em;
    bottom:-20px;
    right:-15px;
   
}
.banner-desc {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.banner-icon {
  font-size: 28px;
  margin-bottom: 20px;
  display: inline-block;
}


.arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
}
.banner-text{
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
  position: relative;
}
.services-section{
  background-color: orange;
  color: black;
}
.service-header{
  font-size: 35px;
  font-weight: 600;
  font-family:  sans-serif;
}
.service-Text{
  line-height:0.4;
}
.box{
  background-color: white;
  display: flex;
  
}
.service-icon {
  font-size: 30px;
  opacity: 0;
  font-weight: 600;
  transform: translateX(-20px);
  transition: all 0.3s ease;
}
.box-text {
  font-size: 20px;
  font-weight: 600;
  flex:1;
 
}
.service-arrow {
  font-size: 30px;
   
}
.box:hover{
   background-color:rgb(0, 128, 128);
   color: white;
}
.box:hover .service-icon
 {
  opacity: 1;
  color: rgb(47, 40, 40);
  transform: translateX(0);
  font-size: 30px;
}
@media (max-width: 768px) and (max-width: 1024px){
  body{
    width: 100%;
    height: auto;
  }
  .hero-section{
    width:100%;
    height: auto;
    padding-bottom: 50px;
  }
  .banner-section{
    width:100%;
   
    padding: 60px 30px;
  }
  .banner-top-left{
    width: 100%;
   

  
  }
  .services-section{
    width:100%;
    height: auto;
  }
  
}





 
